dist: xenial
os: linux
language: c
compiler: gcc
script: ./startMake.sh
sudo: true
deploy:
    provider: release
    api_key: $(API_KEY_GH)
    file:
        - a.out
    skip_cleanup: true
    on:
        tags: true
    
